*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-size: 2rem;
    padding: .4em .8em;
}

a{
    color: black;
    text-decoration: none;
}